.lcp-toolbar {
    padding: 28px;
    background: transparent;
    font-family: Poppins, serif;
}

.shortcut-toolbar {
    font-family: Poppins, serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;

    text-decoration: none;
}
.shortcut-toolbar:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FFF3FB , 0 0 70px #FFF3FB , 0 0 80px #FFF3FB , 0 0 100px #FFF3FB ;

}