.App {
    text-align: center;
}

.App {
    overflow:hidden;
}

.footer {
    text-align: left;
    padding: 0.5% 1% 0.5% 1%;
    color: white;
    background: #253237;
    font-family: Poppins, serif;
    font-size: small;
}